<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Submited</title>
  {% include 'bootstrap.html' %}
</head>
<body>
  {% include 'nav.html' %}
  <!-- {% include 'banner.html' %} -->
  <div class="container">
    <h1 class="text-center mt-2 mb-4">Internships Details </h1>

    <p>Your Application For Internship In <b>{{job['title']}}</b> Has Been Submitted</p>
    <b>
      First Name
    </b>
    <div class='mb-2'>{{ application['first_name'] }}</div>

    <b>
      Last Name
    </b>
    <div class='mb-2'>{{ application['last_name'] }}</div>
  
    <b>
      Email
    </b>
    <div class='mb-2'>{{ application['email'] }}</div>
  
    <b>
      D.O.B
    </b>
    <div class='mb-2'>{{ application['dob'] }}</div>
  
    <b>
      Job Role
    </b>
    <div class='mb-2'>{{ application['job_role'] }}</div>
    <b>
      Address
    </b>
    <div class='mb-2'>{{ application['address'] }}</div>
    <b>
      City
    </b>
    <div class='mb-2'>{{ application['city'] }}</div>
    <b>
      Pincode
    </b>
    <div class='mb-2'>{{ application['pincode'] }}</div>
    <b>
      Resume file
    </b>
    <div class='mb-2'>{{ application['resume'] }}</div>
  </div>
  {% include 'footer.html' %}
</body>
</html>