


<nav class="navbar shadow-sm fixed-top bg-white" ">
    <div class="container-fluid" style="background-color: rgb(207, 255, 239);">
      <!-- <a class="navbar-brand" href="#"> -->
        <!-- <img src="static\New Project.svg" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
        <h1>Neuralcraft Innovations</h1>
      </a> -->
      <a  style="display:inline-block; font-size: 50px; ">
        <img src="static\img-removebg-preview (1).png" alt="Logo"width="90" height="65">
        Neuralcraft Innovations
      </a>
    </div>
  </nav>
  <div style="height:56px"> </div>


  
